footer {
  background-color: #0d6efd;
  margin-top: 20px;
  padding: 12px;
  position: relative;
  bottom: 0;

  .container {
    flex-direction: column;
  }
  p {
    font-weight: bold;
    color: white;
    margin: 0px;
  }
}
