form {
  button {
    margin-left: 5px;
  }
}

.container {
  .navbar-nav {
    .nav-link {
      display: flex;
      align-items: center;
    }
  }
  .navbar-collapse {
    flex-grow: inherit;
  }

  .lupa {
    margin-right: 10px;
  }

  .navbar-brand {
    svg {
      width: 200px;
    }
  }
  .nav-link {
    opacity: 1;
    color: white !important;
    svg {
      margin-right: 5px;
    }
  }
  .btn-pesquisar {
    border: 1px solid #fff;
  }
  .btn-lupa {
    background: none;
    border: none;
    outline: none;
    margin-right: 10px;
  }

  .icone-carrinho {
    position: relative;

    span {
      background-color: white;
      color: #1a0ecd;
      position: absolute;
      top: 7px;
      right: -2px;
      line-height: 1rem;
      height: 1rem;
      min-width: 1rem;
      border-radius: 1rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      font-size: 0.75rem;
      font-weight: 700;
      z-index: 1;
      text-align: center;
    }
  }
}
.pesquisa-mobile {
  margin-top: 1rem;
}
