.categorias{
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    a{
        font-size: 20px;
        color: black;
        text-decoration: none;
        cursor: pointer;

        &:hover{
            color: #333;
        }
    }
}