body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.conteudo-site {
  min-height: calc(100vh - 106px);
}

.modal-dialog {
  transform: none !important;
  transition: none !important;
  transition-duration: initial !important;
}
@media screen and (min-width: 992px) {
  .conteudo-site {
    min-height: calc(100vh - 146px);
  }
}
